{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
  </head>
  <body>
    <div class="container">
      <h2>Student list</h2>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Photo</th>
            <th scope="col">Course</th>
            <th scope="col">Grade</th>
            <th scope="col">Section</th>
          </tr>
        </thead>
        <tbody>
          {% for student in students %}
          <tr>
            <th scope="row">{{student.roll_no}}</th>
            <td>{{student.full_name}}</td>
            <td>
              <img style="width: 100px" src="{{student.photo.url}}" alt="" />
            </td>
            <td>{{student.course}}</td>
            <td>{{student.grade}}</td>
            <td>{{student.section}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
